body, html {
  background-color: #EBECF0;
}

body, p, input, select, textarea, button {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: 19px;
  text-align: center;
  display: grid-moz-line;
}

div, p {
  color: #BABECC;
  text-shadow: 1px 1px 1px #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form {
  padding: 19px;
  width: 380px;
  margin: 0 auto;
}

.segment {
  padding: 38px 0;
  text-align: center;
}

button, input {
  border: 0;
  outline: 0;
  font-size: 19px;
  border-radius: 380px;
  padding: 19px;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 #FFF;
}

label {
  display: block;
  margin-bottom: 28.5px;
  width: 100%;
}

input {
  margin-right: 9.5px;
  -webkit-box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
          box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

input:focus {
  -webkit-box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
          box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

button {
  color: #61677C;
  font-weight: bold;
  -webkit-box-shadow: -5px -5px 30px #FFF, 5px 5px 20px #BABECC;
          box-shadow: -5px -5px 30px #FFF, 5px 5px 20px #BABECC;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  -webkit-box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
          box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

button:active {
  -webkit-box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
          box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

button .icon {
  margin-right: 9.5px;
}

button.unit {
  border-radius: 9.5px;
  line-height: 0;
  width: 57px;
  height: 57px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 9.5px;
  font-size: 22.8px;
}

button.unit .icon {
  margin-right: 0;
}

button.red {
  display: block;
  width: 100%;
  color: #AE1100;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.input-group label {
  margin: 0;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

table {
  background: #61677C;
  border-collapse: separate;
  -webkit-box-shadow: inset 0 1px 0 #fff;
          box-shadow: inset 0 1px 0 #fff;
  font-size: 12px;
  line-height: 24px;
  margin: 30px auto;
  text-align: left;
  width: 800px;
}

th {
  border-left: 1px solid #555;
  border-right: 1px solid #777;
  border-top: 1px solid #555;
  border-bottom: 1px solid #333;
  -webkit-box-shadow: inset 0 1px 0 #999;
          box-shadow: inset 0 1px 0 #999;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
  text-shadow: 0 1px 0 #000;
}

th:after {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.08)));
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.08));
  content: '';
  display: block;
  height: 25%;
  left: 0;
  margin: 1px 0 0 0;
  position: absolute;
  top: 25%;
  width: 100%;
}

th:first-child {
  border-left: 1px solid #777;
  -webkit-box-shadow: inset 1px 1px 0 #999;
          box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
  -webkit-box-shadow: inset -1px 1px 0 #999;
          box-shadow: inset -1px 1px 0 #999;
}

td {
  border-right: 1px solid #fff;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 15px;
  position: relative;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

td:first-child {
  -webkit-box-shadow: inset 1px 0 0 #fff;
          box-shadow: inset 1px 0 0 #fff;
}

td:last-child {
  border-right: 1px solid #e8e8e8;
  -webkit-box-shadow: inset -1px 0 0 #fff;
          box-shadow: inset -1px 0 0 #fff;
}

tr:nth-child(odd) td {
  background: #f1f1f1;
}

tr:last-of-type td {
  -webkit-box-shadow: inset 0 -1px 0 #fff;
          box-shadow: inset 0 -1px 0 #fff;
}

tr:last-of-type td:first-child {
  -webkit-box-shadow: inset 1px -1px 0 #fff;
          box-shadow: inset 1px -1px 0 #fff;
}

tr:last-of-type td:last-child {
  -webkit-box-shadow: inset -1px -1px 0 #fff;
          box-shadow: inset -1px -1px 0 #fff;
}

tbody:hover td {
  color: transparent;
  text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
  color: #444;
  text-shadow: 0 1px 0 #fff;
}
/*# sourceMappingURL=Style.css.map */